<div class="alejandrovilpaDiv">
    <div class="alejandroBanner">

    </div>
    <div class="container">
        <h4 class="center bolderFont">Alejandro Vilpa</h4>
        <h5 class="center ">Director, Writer & Producer</h5>
        <div class="row">
            <p class="justified paragraphTalents">Alejandro Vilpa is an international media executive, producer, and
                published author specializing in high-concept cinematic development and next-generation distribution. As
                the Founder and CEO of Vilpa Films and the streaming platform Vilpa Max, he leads an interconnected
                entertainment ecosystem bridging premium independent storytelling, including Academy Award–winning and
                Academy Award–nominated films. <br> <br>

                A member of the Forbes Business Council, Alejandro's industry track record includes script development
                for Caledonia Productions, a division of EON Productions (The producers of James Bond). His music production for his latest short
                film, The Undertone of David Jansen, has also reached Grammy Award
                consideration, he is now producing the original animated sci-fi thriller series Blue Shades.
                <br>


            </p>

        </div>
    </div>
    <div class="container">
        <div style="padding:42.48% 0 0 0;position:relative;"><iframe
                src="https://player.vimeo.com/video/1127165907?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                frameborder="0"
                allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                style="position:absolute;top:0;left:0;width:100%;height:100%;"
                title="Trailer - The undertone of David Jansen"></iframe></div>
        <script src="https://player.vimeo.com/api/player.js"></script>
    </div> <br> <br>
</div>