<div class="broadkstDiv">

    <div class="container">
        <div class="row"> <br> <br>
            <h2 class="boldL responsiveTitle">Animation Films</h2>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col s12 m4">
                <div class="card pointer">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/assets/images/animationCafe.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Cafe <br> 2024 - 3 min<i
                                class="material-icons right">more_vert</i></span>
                        <p><a href="https://vimeo.com/1181328759/de7133b08e?share=copy&fl=sv&fe=ci"
                                target="_blank">Watch Trailer</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Cafe (2024) - 3 min<i
                                class="material-icons right">close</i></span>
                        <p>A girl writes her phone number on the glass, sparking a rivalry between her boyfriend and
                            another guy who sent her a message. What begins as a simple gesture quickly escalates into a
                            tense confrontation.. <br> <br> <img class="responsive-img"
                                src="/assets/images/animationCafe.jpg"></p>
                    </div>
                </div>

            </div>
            <div class="col s12 m4">
                <div class="card pointer">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/assets/images/comedyKeep.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Keep Out <br> (2023) - 8 min<i
                                class="material-icons right">more_vert</i></span>
                        <p><a href="https://vimeo.com/928361740" target="_blank">Watch Trailer</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Keep Out 2023 - 8 min<i
                                class="material-icons right">close</i></span>
                        <p>A group of individuals each live in tiny, isolated rooms far from the hazards of the outside
                            world. They make a living through live video streaming, connecting with others in the
                            virtual realm. Yet, on one fateful day, a chubby boy stumbles upon an unexpected secret.
                            <br> <br> <img class="responsive-img" src="/assets/images/comedyKeep.jpg">
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card pointer">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/assets/images/animationWaves.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Waves '98 <br> 2015
                            - 15 min<i class="material-icons right">more_vert</i></span>
                        <p><a href="https://www.youtube.com/watch?v=dUr8CzaMzqY"
                                target="_blank">Watch Trailer</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Waves '98 (2015) - 15 min<i
                                class="material-icons right">close</i></span>
                        <p>18-year-old school girl Shengnan enters a night of adventure in the adults' world. <br> <br>
                            <img class="responsive-img" src="/assets/images/animationWaves.jpg"></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>