<div class="checkoutanimation">
    <div class="bannerLiveC">

    </div>
    <div class="container centered">
        <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLSc4xE0GxQdTekfby2bMatPNu2IHkAqzo1_Bu5Q57z9pd5cNzw/viewform?embedded=true"
            width="640" height="3040" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
    </div>
</div>