<div class="broadkstDiv">

    <div class="container">
        <div class="row"> <br> <br>
            <h2 class="boldL responsiveTitle">Cannes Films</h2>
        </div>
    </div>
    <div class="container">


        <div class="row">
            <div class="col s12 m4">
                <div class="card pointer">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/assets/images/comedyBlind.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Love Is Blind <br> 2015 - 7 min<i
                                class="material-icons right">more_vert</i></span>
                        <p><a href="https://www.youtube.com/watch?v=_yasbpoOlOc&list=PLvVTRFR_pWDCvfTj63tk2dmXQZGhQHpr5&index=14"
                                target="_blank">Watch Trailer</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Love Is Blind (2015) - 7 min<i
                                class="material-icons right">close</i></span>
                        <hr>
                        <h6>Spoken Language: English</h6>
                        <h6>Subtitles (CC): English, Arabic</h6>
                        <h6>Festival Highlights: (Cannes Film Festival) Official Selection</h6>
                        <hr>
                        <h6>A fresh take on the classic a love triangle. <br> <br> <img class="responsive-img"
                                src="/assets/images/comedyBlind.jpg"></h6>
                    </div>
                </div>

            </div>
            <div class="col s12 m4">
                <div class="card pointer">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/assets/images/comedyPoof.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">POOF <br> 2023 - 10 min<i
                                class="material-icons right">more_vert</i></span>
                        <p><a href="https://vimeo.com/1145284302/f078cedc20?share=copy&fl=sv&fe=ci"
                                target="_blank">Watch Trailer</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">POOF (2023) - 10 min<i
                                class="material-icons right">close</i></span>
                        <hr>
                        <h6>Spoken Language: English</h6>
                        <h6>Subtitles (CC): English</h6>
                        <h6>Festival Highlights: (Cannes Film Festival) Official Selection</h6>
                        <hr>
                        <h6>Ruby and Paula are gearing up to be their own bosses through multi-level success magnet
                            FYZZLE Cosmetics when a small dog, a medium amount of blood, and a box of loose powder
                            conspire against them. <br> <br> <img class="responsive-img"
                                src="/assets/images/comedyPoof.jpg"></h6>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card pointer">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/assets/images/comedyCrows.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">All The Crows in The World <br> 2021
                            - 14 min<i class="material-icons right">more_vert</i></span>
                        <p><a href="https://www.youtube.com/watch?v=75jY7GKJ368&list=PLvVTRFR_pWDCvfTj63tk2dmXQZGhQHpr5&index=13"
                                target="_blank">Watch Trailer</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">All The Crows in The World (2021) - 14 min<i
                                class="material-icons right">close</i></span>
                        <hr>
                        <h6>Spoken Language: Chinese</h6>
                        <h6>Subtitles (CC): English, Arabic, French</h6>
                        <h6>Festival Highlights: (Cannes Film Festival) Winner</h6>
                        <hr>
                        <h6>18-year-old school girl Shengnan enters a night of adventure in the adults' world. <br> <br>
                            <img class="responsive-img" src="/assets/images/comedyCrows.jpg">
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4">
                <div class="card pointer">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/assets/images/animationWaves.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Waves '98 <br> 2015
                            - 15 min<i class="material-icons right">more_vert</i></span>
                        <p><a href="https://www.youtube.com/watch?v=dUr8CzaMzqY" target="_blank">Watch Trailer</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Waves '98 (2015) - 15 min<i
                                class="material-icons right">close</i></span>
                        <hr>
                        <h6>Spoken Language: Arabic</h6>
                        <h6>Subtitles (CC): English</h6>
                        <h6>Festival Highlights: (Cannes Film Festival) Official Selection</h6>
                        <hr>
                        <h6>18-year-old school girl Shengnan enters a night of adventure in the adults' world. <br> <br>
                            <img class="responsive-img" src="/assets/images/animationWaves.jpg">
                        </h6>
                    </div>
                </div>

            </div>
            <div class="col s12 m4">
                <div class="card pointer">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/assets/images/dramaYardbird.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Yardbird <br> 2012
                            - 13 min<i class="material-icons right">more_vert</i></span>
                        <p><a href="https://vimeo.com/1181319625/a8ea974a49?share=copy&fl=sv&fe=ci"
                                target="_blank">Watch Trailer</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Yardbird (2012) - 13 min<i
                                class="material-icons right">close</i></span>
                        <hr>
                        <h6>Spoken Language: English</h6>
                        <h6>Subtitles (CC): Arabic, French</h6>
                        <h6>Festival Highlights: (Cannes Film Festival) Official Selection</h6>
                        <hr>
                        <h6>A young girl who lives in a remote wrecking yard takes on the local bullies when they travel
                            out to torment her father. <br> <br>
                            <img class="responsive-img" src="/assets/images/dramaYardbird.jpg">
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">

            </div>
        </div>

    </div>
</div>