<div class="carlaLopezDiv">
    <div class="carlaBanner">

    </div>
    <div class="container">
        <h4 class="center bolderFont">Carla Aguilar López</h4>
        <h5 class="center ">Actress</h5>
        <div class="row">
            <p class="justified paragraphTalents">Carla Aguilar López is an established trilingual actress based in
                London, United Kingdom. Standing at 155 cm with a versatile playing age range of 26–36, she delivers an
                elegant and emotionally nuanced screen presence. Native in Spanish and fully fluent in English and
                French, Carla possesses an exceptional ear for dialect, mastering a wide array of British, American, and
                regional Hispanic accents. Her highly disciplined artistic background encompasses classical ballet,
                violin, and singing. A frequent collaborator with Vilpa Films, her prominent leading credits include The
                Undertone of David Jansen and the highly anticipated animated sci-fi thriller series Blue Shades,
                alongside international productions such as Fantastic and VIDA.
                <br>


            </p>
            <p class="justified paragraphTalents">Key Attributes <br></p>
            <ul class="paragraphTalents">
                <li><i class=" material-icons">keyboard_arrow_right</i> <span class="bolderFont">Height:</span> 155 cm
                </li>
                <li><i class=" material-icons">keyboard_arrow_right</i> <span class="bolderFont">Playing Age:</span> 26
                    – 36 years</li>
                <li><i class=" material-icons">keyboard_arrow_right</i> <span class="bolderFont">Languages:</span>
                    Spanish (Native), English (Fluent), French (Fluent), German (Basic)</li>
                <li><i class=" material-icons">keyboard_arrow_right</i> <span class="bolderFont">Current Base:</span>
                    London, United Kingdom (Valid passport & international visas active for EU, UK, and Middle East)
                </li>
            </ul>
            <p class="justified paragraphTalents">Accents Mastered <br></p>
            <ul class="paragraphTalents">
                <li><i class=" material-icons">keyboard_arrow_right</i> <span class="bolderFont">English:</span>
                    British (London), American (California, New York), English with Spanish or Italian accent</li>
                <li><i class=" material-icons">keyboard_arrow_right</i> <span class="bolderFont">Spanish:</span>
                    Pilates, Yoga, Basketball</li>

            </ul>
            <p class="justified paragraphTalents">Special Skills <br></p>
            <ul class="paragraphTalents">
                <li><i class=" material-icons">keyboard_arrow_right</i> <span class="bolderFont">Music & Dance:</span>
                    Violin, Classical Ballet, Singing, Latin Dance (Salsa, Merengue, Bachata)</li>
                <li><i class=" material-icons">keyboard_arrow_right</i> <span class="bolderFont">Fitness:</span>
                    Pilates, Yoga, Basketball</li>

            </ul>
        </div>
    </div>
    <div class="container">
        <div style="padding:42.48% 0 0 0;position:relative;"><iframe
                src="https://player.vimeo.com/video/1127165907?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                frameborder="0"
                allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                style="position:absolute;top:0;left:0;width:100%;height:100%;"
                title="Trailer - The undertone of David Jansen"></iframe></div>
        <script src="https://player.vimeo.com/api/player.js"></script>
    </div> <br> <br>
</div>