<div class="broadkstDiv">

    <div class="container">
        <div class="row"> <br> <br>
            <h2 class="boldL responsiveTitle">Comedy Films</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12 m4">
                <div class="card pointer">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/assets/images/comedyTank.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Tank Fairy <br> 2021 - 10 min<i
                                class="material-icons right">more_vert</i></span>
                        <p><a href="https://vimeo.com/1181299759/a587eef7bd?share=copy&fl=sv&fe=ci"
                                target="_blank">Watch Trailer</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Tank Fairy (2021) - 10 min <i
                                class="material-icons right">close</i></span>
                        <hr>
                        <h6>Spoken Language: Chinese</h6>
                        <h6>Subtitles (CC): English</h6>
                        <h6>Festival Highlights: (Winner) Palm Springs International Film Festival </h6>
                        <hr>
                        <h6>Once upon a time, the magical Tank Fairy delivered tanks of gas (with plenty of sass) to the
                            home of young Jojo, a lonely dreamer in need of a glittery godmother.
                            <br> <br> <img class="responsive-img" src="/assets/images/comedyTank.jpg">
                        </h6>

                    </div>
                </div>

            </div>
            <div class="col s12 m4">
                <div class="card pointer">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/assets/images/comedyMozart.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">The Mozart of Pickpockets <br> 2006 -
                            31
                            min<i class="material-icons right">more_vert</i></span>
                        <p><a href="https://vimeo.com/1133028622?fl=pl&fe=sh" target="_blank">Watch Trailer</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">The Mozart of Pickpockets (2006) - 31 min<i
                                class="material-icons right">close</i></span>
                        <hr>
                        <h6>Spoken Language: French</h6>
                        <h6>Subtitles (CC): English, Arabic</h6>
                        <h6>Festival Highlights: (Oscar Winner) Best live action Short Film </h6>
                        <hr>
                        <h6>Two pickpockets have to take care of a deaf-mute Romanian child. <br> <br> <img
                                class="responsive-img" src="/assets/images/comedyMozart.jpg"></h6>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card pointer">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/assets/images/comedyPoof.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">POOF <br> 2023 - 10 min<i
                                class="material-icons right">more_vert</i></span>
                        <p><a href="https://vimeo.com/1145284302/f078cedc20?share=copy&fl=sv&fe=ci"
                                target="_blank">Watch Trailer</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">POOF (2023) - 10 min<i
                                class="material-icons right">close</i></span>
                        <hr>
                        <h6>Spoken Language: English</h6>
                        <h6>Subtitles (CC): English</h6>
                        <h6>Festival Highlights: (Cannes Film Festival) Official Selection</h6>
                        <hr>
                        <h6>Ruby and Paula are gearing up to be their own bosses through multi-level success magnet
                            FYZZLE Cosmetics when a small dog, a medium amount of blood, and a box of loose powder
                            conspire against them. <br> <br> <img class="responsive-img"
                                src="/assets/images/comedyPoof.jpg"></h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4">
                <div class="card pointer">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/assets/images/comedyBlind.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Love Is Blind <br> 2015 - 7 min<i
                                class="material-icons right">more_vert</i></span>
                        <p><a href="https://www.youtube.com/watch?v=_yasbpoOlOc&list=PLvVTRFR_pWDCvfTj63tk2dmXQZGhQHpr5&index=14"
                                target="_blank">Watch Trailer</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Love Is Blind (2015) - 7 min<i
                                class="material-icons right">close</i></span>
                        <hr>
                        <h6>Spoken Language: English</h6>
                        <h6>Subtitles (CC): English, Arabic</h6>
                        <h6>Festival Highlights: (Cannes Film Festival) Official Selection</h6>
                        <hr>
                        <h6>A fresh take on the classic a love triangle. <br> <br> <img class="responsive-img"
                                src="/assets/images/comedyBlind.jpg"></h6>
                    </div>
                </div>

            </div>
            <div class="col s12 m4">
                <div class="card pointer">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/assets/images/comedyKeep.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Keep Out <br> (2023) - 8 min<i
                                class="material-icons right">more_vert</i></span>
                        <p><a href="https://vimeo.com/928361740" target="_blank">Watch Trailer</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Keep Out 2023 - 8 min<i
                                class="material-icons right">close</i></span>
                        <hr>
                        <h6>Spoken Language: (No Dialogue)</h6>
                        <h6>Subtitles (CC): N/A</h6>
                        <h6>Festival Highlights: N/A</h6>
                        <hr>
                        <h6>A group of individuals each live in tiny, isolated rooms far from the hazards of the outside
                            world. They make a living through live video streaming, connecting with others in the
                            virtual realm. Yet, on one fateful day, a chubby boy stumbles upon an unexpected secret.
                            <br> <br> <img class="responsive-img" src="/assets/images/comedyKeep.jpg">
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card pointer">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/assets/images/comedyCrows.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">All The Crows in The World <br> 2021
                            - 14 min<i class="material-icons right">more_vert</i></span>
                        <p><a href="https://www.youtube.com/watch?v=75jY7GKJ368&list=PLvVTRFR_pWDCvfTj63tk2dmXQZGhQHpr5&index=13"
                                target="_blank">Watch Trailer</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">All The Crows in The World (2021) - 14 min<i
                                class="material-icons right">close</i></span>
                        <hr>
                        <h6>Spoken Language: Chinese</h6>
                        <h6>Subtitles (CC): English, Arabic, French</h6>
                        <h6>Festival Highlights: (Cannes Film Festival) Winner</h6>
                        <hr>
                        <h6>18-year-old school girl Shengnan enters a night of adventure in the adults' world. <br> <br>
                            <img class="responsive-img" src="/assets/images/comedyCrows.jpg">
                        </h6>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>