<div class="dimitriDiv">
    <div class="dimitriBanner">

    </div>
    <div class="container">
        <h4 class="center bolderFont">DIMITRI FONTAINE</h4>
        <h5 class="center ">Actor & Vocal Artist</h5>
        <div class="row">
            <p class="justified paragraphTalents">Dimitri Fontaine is a bilingual actor and vocal artist based in
                Montauban, France. Standing at 180 cm
                with a versatile playing age range of 23–40, he brings a commanding, highly athletic screen presence
                backed by training in combat sports and music. Fully fluent in English and French, Dimitri marks his
                professional debut with Vilpa Films, providing the voice and facial motion-capture performance for
                Hassan in the animated sci-fi thriller series Blue Shades
                <br>


            </p>
            <p class="justified paragraphTalents">Key Attributes <br></p>
            <ul class="paragraphTalents">
                <li><i class=" material-icons">keyboard_arrow_right</i> <span class="bolderFont">Height:</span> 180 cm
                </li>
                <li><i class=" material-icons">keyboard_arrow_right</i> <span class="bolderFont">Playing Age:</span> 23
                    – 40 years</li>
                <li><i class=" material-icons">keyboard_arrow_right</i> <span class="bolderFont">Languages:</span>
                    French (Native), English (Fluent)</li>
                <li><i class=" material-icons">keyboard_arrow_right</i> <span class="bolderFont">Current Base:</span>
                    France (Valid passport & international travel availability)</li>
            </ul>
            <p class="justified paragraphTalents">Special Skills <br></p>
            <ul class="paragraphTalents">
                <li><i class=" material-icons">keyboard_arrow_right</i> <span class="bolderFont">Performance:</span>
                    Vocal Artist / Singing, Voice Acting, Facial Motion Capture (MoCap)</li>
                <li><i class=" material-icons">keyboard_arrow_right</i> <span class="bolderFont">Sports &
                        Combat:</span> Stage Fighting / Martial Arts, General Athletics</li>

            </ul>
        </div>
    </div>
    <div class="container">
        <div style="padding:56.31% 0 0 0;position:relative;"><iframe
                src="https://player.vimeo.com/video/1211086544?h=3d671e72ae&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                frameborder="0"
                allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                style="position:absolute;top:0;left:0;width:100%;height:100%;"
                title="Dimitri Fontaine - Voice Reel"></iframe></div>
        <script src="https://player.vimeo.com/api/player.js"></script>
    </div> <br> <br> 
</div>