<div class="broadkstDiv">
    <div class="inflightBanner">

    </div>

    <div class="container">
        <div class="row">
            <h2 class="boldL responsiveTitle">Movies</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image pointer" onclick="location.href='/inflight/comedy';">
                        <img src="/assets/images/comedyCategory.jpg">

                    </div>

                </div>
            </div>
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image pointer" onclick="location.href='/inflight/drama';">
                        <img src="/assets/images/dramaCategory.jpg">

                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image pointer" onclick="location.href='/inflight/animation';">
                        <img src="/assets/images/animationCategory.jpg">

                    </div>

                </div>
            </div>
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image pointer" onclick="location.href='/inflight/cannes';">
                        <img src="/assets/images/cannesCategory.jpg">

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>