<div class="koverageDiv">
    <div class="koverageBanner">

    </div> <br> <br>
    
    <div class="container centered titleSiguenos">
        <div class="row">
            <div class="col s12 m3"></div>
            <div class="col s12 m6">
                <div class="card " style="background-color: #073051;">
                    <div class="card-image">
                        <img src="/assets/images/filmFreewayKoverage.png">
                    </div>
                    <div class="card-content " style="color: white;">
                        <h5>Engage directly with the industry through our KOVERAGE
                            program.
                            <hr> Apply to receive professional notes and a 30-minute consultation with Vilpa Films. <br>
                            <br> Unlock the opportunity to be selected for production in our 2026 slate
                        </h5>

                    </div>
                    <div class="card-action ">
                        <a href="https://filmfreeway.com/festivals/91402?utm_campaign=Vilpa+Films+KOVERAGE&utm_medium=External&utm_source=Submission+Button"
                            target="_blank" title="Click to submit on FilmFreeway"><img
                                src="https://public-assets.filmfreeway.com/submission_buttons/v2/med_submission_btn@2x-sky.png"
                                title="Click to submit on FilmFreeway" width="263" height="102"></a>
                    </div>
                </div>
            </div>
            <div class="col s12 m3"></div>
        </div>

        <div class="row">
            <p style="font-style: italic; font-size: 1.5rem">You can also reach us through e-mail:
                business@vilpafilms.com
            </p> <br>
        </div>
        <div class="row">
            <p class="boldL" style="color: blue;">*By applying, you state that you have read and agreed to the terms
                and conditions of this program*</p>
            <a class="waves-effect waves-light btn-large #263238 blue-grey darken-4"
                onclick="location.href='/terms-koverage';">See the terms and conditions first</a>
            <p class="boldL" style="color: red;">
                Disclaimer:
                Please note that submitting your script does not guarantee or confirm production by Vilpa Films.
                Only
                short scripts in English are accepted at this time.
                Submissions
                are final and should only be made if you believe your script or book has the quality necessary to be
                considered.
                We encourage you to carefully review your materials before submitting to ensure your project is
                presented at its best.
            </p>
        </div>
    </div> <br>
</div>