<div class="koverageDiv">
    <div class="koverageBanner">

    </div>
    <div class="container centered">
        <div class="row"> <br>
            <div class="centered">
                <hr>
                <h2 class="boldL ">A CHANCE TO GET YOUR SCRIPT PRODUCED</h2> <br>
            </div>
            <hr>
            <div class="col m2 s12"></div>
            <div class="col m8 s12 ">
                <h5 class="boldL">Engage directly with the industry through our coverage programs <br> <br>
                    Apply to receive industry-level notes and a 30-minute call with us to strengthen your script. Get
                    the chance to be considered <br> by Vilpa Films for production.

                </h5>
                <p class="boldL" style="color: blue;">*By applying, you state that you have read and agreed to the terms
                    and conditions of this program*</p>
                <a class="waves-effect waves-light btn-large #263238 blue-grey darken-4"
                    onclick="location.href='/terms-koverage';">See the terms and conditions first</a>

            </div>
            <div class="col m2 s12"></div>
        </div>
    </div>
    <div class="container centered titleSiguenos">
        <div class="row">
            <div class="col s12 m4">
                <div class="card #37474f blue-grey darken-3">
                    <div class="card-image">
                        <img src="/assets/images/basicC.jpg">
                    </div>
                    <div class="card-content " style="color: white;">
                        <h5>Short film scripts, written in English, up to 30 pages. <br> <br> Submitted exclusively for
                            feedback, and includes a 30-minute call with the team.
                            <hr> * Each submission fee covers one script only *
                            <hr> £140.00 GBP
                        </h5>

                    </div>
                    <div class="card-action ">
                        <h5> <a href="https://buy.stripe.com/9B68wP60P1AQ2EocQ41Nu0a">Start submission</a></h5>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card #37474f blue-grey darken-3">
                    <div class="card-image">
                        <img src="/assets/images/womenC.jpg">
                    </div>
                    <div class="card-content " style="color: white;">
                        <h5>Short film scripts in English, up to 30 pages. <br><br> Exclusively for women writers.
                            Feedback, production consideration and a 30 minute call with the team.
                            <hr> * Each submission fee covers one script only *
                            <hr> £190.00 GBP
                        </h5>

                    </div>
                    <div class="card-action ">
                        <h5> <a href="https://buy.stripe.com/fZu7sL60P3IY3Is5nC1Nu0b">Start submission</a></h5>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card #37474f blue-grey darken-3">
                    <div class="card-image">
                        <img src="/assets/images/premiumC.jpg">
                    </div>
                    <div class="card-content " style="color: white;">
                        <h5>Open to the general public. <br> <br> Includes feedback, a chance for production consideration and a
                            30 minute call with the team.
                            <hr> * Each submission fee covers one script only *
                            <hr> £190.00 GBP
                        </h5>

                    </div>
                    <div class="card-action ">
                        <h5> <a href="https://buy.stripe.com/fZu7sL60P3IY3Is5nC1Nu0b">Start submission</a></h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <p style="font-style: italic; font-size: 1.5rem">You can also reach us through e-mail:
                business@vilpafilms.com
            </p> <br>
        </div>
        <div class="row">
            <p class="boldL" style="color: red;">
                Disclaimer:
                Please note that submitting your script does not guarantee or confirm production by Vilpa Films. Only
                scripts in English are accepted at this time, and we only review short films, not features. Submissions
                are final and should only be made if you believe your script has the quality necessary to be considered.
                We encourage you to carefully review your materials before submitting to ensure your project is
                presented at its best.
            </p>
        </div>
    </div> <br>
</div>