<div class="masterclassDiv">
    <div class="promoDiv">
        <div class=" divPromoMaster">
            <div class="container">
                <div class="textPromo">
                    <h6 class="boldL centered textfontPromo " style="font-size: 1.5rem;">Showcase Your Film for International Streaming. <span class="colorRose">Join Our Film Distribution Masterclass.</span></h6>
                    
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col m6 s12"> <br> <br>
                <h3 class="boldL white-text">
                    WE WORK WITH FILMS FROM <span class="black colorRose">THE OSCARS</span>.
                </h3>
                <h5 class="white-text">Enroll in our Film Distribution <span class="boldL">Masterclass</span> and <span class="black colorRose">Access the community</span> of
                    game-changing filmmakers. </h5> <br> <br>
                
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/irwYuZdpiAA?si=830wdQNWTRiA0UyU"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <h5 class="boldL white-text"> <br>
                    You’ll also get the opportunity to showcase your own work for <span
                        class="black colorRose">streaming distribution</span> alongside
                    Oscar-winning films.
                </h5>
            </div>
            <div class="col m6 s12">
                <img class="vilpaWebHome centered" src="/assets/images/vilpamaxOscarPoster.png" alt="The Letter Room">
            </div>
        </div>
        <div class="row">
            <div data-tf-live="01KVCPBKFZBHJXBJKAJ61B848N"></div><script src="//embed.typeform.com/next/embed.js"></script>
        </div>
    </div>
</div>