<div class="incioDiv">
    <div class="divBannerAds"></div>
    {{!-- <div class="bannerStory1"></div>
    <div class="bannerStory2"></div> --}}
    <div class="aboutDiv">
        <div class="container"> <br> <br>
            <div class="row">
                <div class="col s12 m6 ">
                    <br>
                    <h4 class=""> <span style="font-weight: bolder; font-size: 3rem;">CINEMATIC BRAND INTEGRATION</span>
                    </h4>
                    <h4 class="elevateTitle">
                        Partner with our premium productions. Engage our active community of 200,000+ viewers today, and
                        secure exclusive Founder placement on the Vilpa Max ecosystem.
                    </h4>
                </div>
                <div class="col s12 m6 ">
                    <hr>
                    <h5 class=""> <span style="font-weight: bolder; font-size: 2rem;"></span> 
                        Captivate an audience that actually watches. Move beyond traditional ad space by embedding your
                        brand directly into our production process. Engage our active community today, and lock in your
                        uninterrupted, cinematic attention across the UK and MENA.
                        <br> <br>

                        <a class="waves-effect waves-light btn-large #616161 grey darken-2 "
                            onclick="window.open('https://canva.link/k7lru3q2egl9lli','_blank');"
                            target="_blank">Discover Blue Shades: Our Latest Production</a>


                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="divOutreach">
        <div class="container">
            <div class="row">
                <div class="col s12 m6">
                    <h4 class="boldL"><span style="font-size: 3rem;">200,000</span> Subscribers and more than <span
                            style="font-size: 3rem;">3</span> million impressions</h4>
                </div>
                <div class="col s12 m6" style="margin-top: 2%;">
                    <h5>Showcase your brand to a highly engaged audience. <span class="boldL"
                            style="font-size: 2.5rem;">Film lovers.</span></h5>
                </div>
            </div>
        </div>
    </div>
    <div class="advertisingHereDiv">
        <div class="container"> <br>
             <h4 class="center"> <span style="font-weight: bolder; font-size: 3rem;">A Home for Hollywood Talents</span></h4>
            <iframe width="100%" height="460" src="https://www.youtube.com/embed/RYLTIDhalRM?si=FaKCD0jOjd4MZCiS"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <br> <br>

    </div>

</div>