<div class="broadkstTermsDiv">
    <div class="broadkstTermsBanner">

    </div>
    <div class="container">
        <div class="row">
            <h3> <br>
                Terms & Conditions – Broadkst (Vilpa Films)
            </h3>
            <hr>
        </div>
        <div class="row">
            <h5 class="boldL">1. General Provisions</h5>
            <p>These Terms & Conditions apply to the <span class="boldL">Broadkst Call for Submissions</span>
                organized by Vilpa Films (“the Organizer”). By submitting your film, you acknowledge that you have read,
                understood, and agreed to these Terms & Conditions in their entirety. <br>

                Submitting your work does <span class="boldL">not guarantee or confirm acceptance, distribution, or
                    production by Vilpa Films.</span> Applications should only be made if you believe your project meets
                the quality standards necessary to be
                considered.</p>
        </div>
        <hr>
        <div class="row">
            <h5 class="boldL">2. Eligibility and Categories</h5>
            <p>
                Applicants must only submit to the category that corresponds to them: <br>
            <ul>
                <li><i class="material-icons" style="font-size: 13px;">send</i> <span class="boldl">Live Action:</span>
                    Fictional short films shot with real actors, in any genre or style, up to 30 minutes in length.
                </li>
                <li><i class="material-icons" style="font-size: 13px;">send</i> <span class="boldl">Animation:</span>
                    Short films created through animation, in any genre or style, up to 30 minutes in length.</li>
                <li><i class="material-icons" style="font-size: 13px;">send</i> <span class="boldl">Documentary:</span>
                    Real stories or explorations of factual subjects, up to 30 minutes in length.</li>
                <li><i class="material-icons" style="font-size: 13px;">send</i> <span class="boldl">Experimental:</span>
                    Short films using unconventional storytelling, structure, or visual style, up to 30 minutes in
                    length.</li>
            </ul> <br>
            Submission criteria: <br> <br>
            <ul>
                <li><i class="material-icons" style="font-size: 13px;">send</i> Submitted works must be completed short
                    films (up to 30 minutes). Works-in-progress are not eligible unless otherwise stated.</span></li>
                <li><i class="material-icons" style="font-size: 13px;">send</i> The Organizer may request other
                    information and/or materials (poster, synopsis, credits, etc.).
                </li>
                <li><i class="material-icons" style="font-size: 13px;">send</i> Works must be
                    submitted in English. Non-English works must include subtitles in English.
                </li>
                <li><i class="material-icons" style="font-size: 13px;">send</i> Applications are accepted on a rolling
                    basis; there is no fixed submission deadline.
                </li>

            </ul>
            </p>
        </div>
        <hr>
        <div class="row">
            <h5 class="boldL">3. Selection Process</h5>
            <ul>
                <li><i class="material-icons" style="font-size: 13px;">send</i> Submissions will be reviewed by Vilpa
                    Films and industry professionals.</li>
                <li><i class="material-icons" style="font-size: 13px;">send</i> All decisions are final and at the sole
                    discretion of the Organizer.</li>
                <li><i class="material-icons" style="font-size: 13px;">send</i> Not all submitted projects will be
                    selected.</li>
            </ul>
        </div>
        <hr>
        <div class="row">
            <h5 class="boldL">4. Rights & Usage</h5>
            <ul>
                <li><i class="material-icons" style="font-size: 13px;">send</i> If selected, applicants grant Vilpa
                    Films a non-exclusive, limited license to use excerpts, stills, and promotional materials of the
                    selected project for marketing and promotional purposes related to Broadkst.</li>
                <li><i class="material-icons" style="font-size: 13px;">send</i> Copyright and ownership of the project
                    remain with the applicant.</li>
                <li><i class="material-icons" style="font-size: 13px;">send</i> Selected works may be offered
                    distribution, streaming, or festival representation opportunities, but Vilpa Films is not obligated
                    to accept or pursue these.</li>
            </ul>
            </p>
        </div>
        <hr>
        <div class="row">
            <h5 class="boldL">5. Legal & Liability Disclaimer</h5>
            <p>
            <ul>
                <li><i class="material-icons" style="font-size: 13px;">send</i> Submissions are final and
                    non-refundable. Fees will not be reimbursed under any circumstances.</li>
                <li><i class="material-icons" style="font-size: 13px;">send</i> By applying, you confirm that your
                    submission is original and that you hold all necessary rights. Vilpa Films assumes no liability for
                    any disputes arising from authorship, ownership, or licensing of submitted materials.</li>
                <li><i class="material-icons" style="font-size: 13px;">send</i>Participation in Broadkst does not create
                    an employment relationship, financial entitlement, or guarantee of distribution/production unless
                    expressly agreed upon in writing between the applicant and Vilpa Films.</li>
                <li><i class="material-icons" style="font-size: 13px;">send</i> Vilpa Films reserves the right to modify
                    or update these Terms & Conditions at any time without prior notice.</li>
            </ul>
            </p>
        </div>
        <hr>
        <div class="row">
            <h5 class="boldL">8. Agreement</h5>
            <p>
                By applying, you <span class="boldL">acknowledge, confirm, and agree</span> to these Terms & Conditions.
                <br>
                <span class="boldL">By applying, you state that you have read and agreed to the Terms & Conditions of
                    this program.</span>
            </p>
        </div>
        <div class="row">
            <h5>I have read and understood the Terms & Conditions</h5> <br>
            <a class="waves-effect waves-light btn-large #263238 blue-grey darken-4"
                onclick="location.href='/broadkst';">Go to the Broadkst submissions</a>

        </div> <br>
    </div>
</div>