<div class="koverageTermsDiv">
    <div class="koverageTermsBanner">

    </div>
    <div class="container">
        <div class="row">
            <h3> <br>
                Terms & Conditions – Koverage 2026 (Vilpa Films)
            </h3>
            <hr>
        </div>
        <div class="row">
            <h5 class="boldL">1. General Provisions</h5>
            <p>These Terms & Conditions apply to the <span class="boldL">Koverage 2026 Call for Submissions</span>
                organized by Vilpa Films (“the
                Organizer”). By submitting your script, you acknowledge that you have read, understood, and agreed to
                these Terms & Conditions in their entirety. <br>

                Please note that submitting your script <span class="boldL">does not guarantee or confirm production by
                    Vilpa Films.</span>
                Applications should only be made if you believe your script meets the quality standards necessary to be
                considered.</p>
        </div>
        <hr>
        <div class="row">
            <h5 class="boldL">2. Eligibility and Categories</h5>
            <p>
                Applicants must only submit to the category that corresponds to them: <br>
            <ul>
                <li><i class="material-icons" style="font-size: 13px;">send</i> <span class="boldl">Basic:</span> Open
                    to the general public.
                    This category includes script coverage
                    services only and <span class="boldL">does not provide eligibility for production
                        consideration.</span></li>
                <li><i class="material-icons" style="font-size: 13px;">send</i> <span class="boldl">Premium:</span>
                    Open to the general public. This category includes coverage services plus the opportunity to be
                    considered for production/adaptation.</li>
                <li><i class="material-icons" style="font-size: 13px;">send</i> <span class="boldl">Women in
                        Film:</span>
                    Exclusively open to women. This category includes coverage services plus the opportunity to be
                    considered for production/adaptation.</li>
            </ul>
        </div>

    </div>
</div>