<div class="koverageTermsDiv">
    <div class="koverageTermsBanner">

    </div>
    <div class="container">
        <div class="row">
            <h3> <br>
                Terms & Conditions – Koverage 2026 (Vilpa Films)
            </h3>
            <hr>
        </div>
        <div class="row">
            <h5 class="boldL">1. General Provisions</h5>
            <p>These Terms & Conditions apply to the <span class="boldL">Koverage 2026 Call for Submissions</span>
                organized by Vilpa Films (“the
                Organizer”). By submitting your script, you acknowledge that you have read, understood, and agreed to
                these Terms & Conditions in their entirety. <br>

                Please note that submitting your script <span class="boldL">does not guarantee or confirm production by
                    Vilpa Films.</span>
                Applications should only be made if you believe your script meets the quality standards necessary to be
                considered.</p>
        </div>
        <hr>
        <div class="row">
            <h5 class="boldL">2. Eligibility and Categories</h5>
            <p>
            <ul>
                <li><i class="material-icons" style="font-size: 13px;">send</i> <span class="boldl">Open to short film
                        scripts only (live action, documentary, animation, or experimental). Feature-length scripts, web
                        pilots, or TV series are not accepted.</span></li>
                <li><i class="material-icons" style="font-size: 13px;">send</i> <span class="boldl">Scripts must be
                        written in English.</li>
                <li><i class="material-icons" style="font-size: 13px;">send</i> <span class="boldl">Applicants must be
                        18 years or older at the time of submission.</li>
                <li><i class="material-icons" style="font-size: 13px;">send</i> <span class="boldl">All submissions must
                        be the applicant’s original work and fully owned by the writer/creator.</li>
            </ul> <br>

            </p>
        </div>
        <hr>
        <div class="row">
            <h5 class="boldL">3. Submission Deadlines</h5>
            <ul>
                <li><i class="material-icons" style="font-size: 13px;">send</i> All selected applicants must submit
                    their final scripts <span class="boldL">no later than April 3, 2026.</span></li>
                <li><i class="material-icons" style="font-size: 13px;">send</i> The results of the winning submissions
                    will be announced on <span class="boldL">June 3, 2026.</span></li>
            </ul>
        </div>
        <hr>
        <div class="row">
            <h5 class="boldL">4. Coverage Services Provided</h5>
            <p>Each submission will receive:
            <ul>
                <li><i class="material-icons" style="font-size: 13px;">send</i> A <span class="boldL">3-page
                        industry-level coverage report</span> analyzing project viability and market potential.</li>
                <li><i class="material-icons" style="font-size: 13px;">send</i> Professional notes from the assigned
                    evaluator.</li>
                <li><i class="material-icons" style="font-size: 13px;">send</i> The opportunity to schedule a <span
                        class="boldL">30-minute call</span> with Vilpa Films to discuss these notes.</li>
            </ul>
            </p>
        </div>
        <hr>
        <div class="row">
            <h5 class="boldL">5. Production Consideration </h5>
            <p>
            <ul>
                <li><i class="material-icons" style="font-size: 13px;">send</i> Selected projects will receive an offer
                    for potential production and/or adaptation.</li>
                <li><i class="material-icons" style="font-size: 13px;">send</i> However, Vilpa Films is <span
                        class="boldL">not obligated</span> to produce the script if no agreement is reached with the
                    artist regarding the creative basis and production guidelines.</li>
                <li><i class="material-icons" style="font-size: 13px;">send</i> Receiving an offer does <span
                        class="boldL">not imply direct payment, royalties, or financial compensation</span> solely by
                    virtue of winning the call.</li>
            </ul>
            </p>
        </div>
        <hr>
        <div class="row">
            <h5 class="boldL">6. Development Process</h5>
            <p>
            <ul>
                <li><i class="material-icons" style="font-size: 13px;">send</i> Writers receiving <span
                        class="boldL">notes for improvement</span> as part of the development process must revise and
                    improve their script as a condition of moving forward in production consideration.</li>
                <li><i class="material-icons" style="font-size: 13px;">send</i> Failure to comply may result in the
                    project being withdrawn from consideration.</li>

            </ul>
            </p>
        </div>
        <hr>
        <div class="row">
            <h5 class="boldL">7. Legal & Liability Disclaimer</h5>
            <p>
            <ul>
                <li><i class="material-icons" style="font-size: 13px;">send</i> Submissions are <span
                        class="boldL">final and non-refundable.</span> Fees will not be reimbursed under any
                    circumstances.</li>
                <li><i class="material-icons" style="font-size: 13px;">send</i> By applying, you confirm that your
                    submission is original and that you hold all necessary rights. Vilpa Films assumes no liability for
                    any disputes arising from authorship or ownership of submitted materials.</li>
                <li><i class="material-icons" style="font-size: 13px;">send</i> Participation in the call does not
                    create an employment relationship, financial entitlement, or guarantee of distribution/production
                    unless expressly agreed upon in writing between the artist and Vilpa Films.</li>
                <li><i class="material-icons" style="font-size: 13px;">send</i> <span class="boldL">Vilpa Films reserves
                        the right to modify
                        or update these Terms & Conditions at any time without prior notice.</span></li>

            </ul>
            </p>
        </div>
        <hr>
        <div class="row">
            <h5 class="boldL">8. Agreement</h5>
            <p>
                By applying, you <span class="boldL">acknowledge, confirm, and agree</span> to these Terms & Conditions.
                <br>
                <span class="boldL">By applying, you state that you have read and agreed to the Terms & Conditions of
                    this program.</span>
            </p>
        </div>
        <div class="row">
            <h5>I have read and understood the Terms & Conditions</h5> <br>
            <a href="https://filmfreeway.com/festivals/91402?utm_campaign=Vilpa+Films+KOVERAGE&utm_medium=External&utm_source=Submission+Button"
                target="_blank" title="Click to submit on FilmFreeway"><img
                    src="https://public-assets.filmfreeway.com/submission_buttons/v2/med_submission_btn@2x-sky.png"
                    title="Click to submit on FilmFreeway" width="263" height="102"></a>

        </div> <br>
    </div>
</div>