<div class="incioDiv fontTalent ">
    <div class="divBannerAds"></div>
    {{!-- <div class="bannerStory1"></div>
    <div class="bannerStory2"></div> --}}
    <div class="aboutDiv">
        <div class="container"> <br>
            <div class="row">
                <h4 class="fontTalent center gray-text">Vilpa Talents represents a very exclusive group of actors,
                    filmmakers, and creative
                    professionals with global potential. Our mission is to provide our talent with world-class
                    opportunities and international exposure.</h4>

            </div>

        </div>
        <div class="container">
            <div class="row">
                <div class="col s12 m4">
                    <div class="card" onclick="location.href='/talents/carlaaguilarlopez';">
                        <div class="card-image pointer" >
                            <img src="/assets/images/carlita.jpg">

                        </div>
                        <div class="card-content #212121 grey darken-4">
                            <span class="card-title activator lightVilpaColor  bolderFont ">Carla Aguilar López<br>
                                <span class="redVilpaColor ">Actress</span></span>

                        </div>

                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card" onclick="location.href='/talents/dimitrifontaine';">
                        <div class="card-image pointer">
                            <img src="/assets/images/dimitrito.jpg">

                        </div>
                        <div class="card-content #212121 grey darken-4">
                            <span class="card-title activator lightVilpaColor  bolderFont ">Dimitri Fontaine <br> <span
                                    class="redVilpaColor ">Actor</span></span>

                        </div>

                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card" onclick="location.href='/talents/alejandrovilpa';">
                        <div class="card-image pointer" >
                            <img src="/assets/images/alejito.jpg">

                        </div>
                        <div class="card-content #212121 grey darken-4">
                            <span class="card-title activator lightVilpaColor  bolderFont ">Alejandro Vilpa <br> <span
                                    class="redVilpaColor ">Director & Producer</span></span>

                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="container">
            <h3 class="center">FILM & TV</h3>
            <div class="row">
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image pointer">
                            <img src="/assets/images/blueshadesPosterHor.jpg">

                        </div>

                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image pointer" onclick="window.open('https://www.youtube.com/watch?v=PJFA5V3S94E');" >
                            <img src="/assets/images/jansenPosterHor.jpg">

                        </div>

                    </div>
                </div>

            </div>
            <h3 class="center">MUSIC</h3>
            <div class="row">
                <div class="col s12 m6">
                    <iframe data-testid="embed-iframe" style="border-radius:12px"
                        src="https://open.spotify.com/embed/track/5rHewKjx4fem25mwFJRWrO?utm_source=generator&theme=0&si=281ca61929cd49d0"
                        width="100%" height="352" frameBorder="0" allowfullscreen=""
                        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                        loading="lazy"></iframe>
                </div>
                <div class="col s12 m6">
                    <iframe width="100%" height="352"
                        src="https://www.youtube.com/embed/u9vBQVfJz0g?si=w9Qx6Uc3qaCPhliH" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                

            </div>
        </div>
    </div>


</div>